backend/apps/integration/min.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://tunduk.gov.kg" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tunduk.gov.kg" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" targetNamespace="http://tunduk.gov.kg">
  <wsdl:import location="http://x-road.eu/xsd/xroad.xsd" namespace="http://x-road.eu/xsd/xroad.xsd">
    </wsdl:import>
  <wsdl:types>
    <xs:schema xmlns="http://tunduk.gov.kg" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tunduk.gov.kg" version="1.0">

    <xs:simpleType name="QueryType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NAME"/>
            <xs:enumeration value="TIN"/>
            <xs:enumeration value="OKPO"/>
            <xs:enumeration value="HEAD"/>
            <xs:enumeration value="FOUNDER"/>
            <xs:enumeration value="DESCRIPTION"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Subject">
        <xs:sequence>
            <xs:element form="qualified" name="fullNameGl" type="xs:string"/>
            <xs:element form="qualified" name="shortNameGl" type="xs:string"/>
            <xs:element form="qualified" name="fullNameOl" type="xs:string"/>
            <xs:element form="qualified" name="shortNameOl" type="xs:string"/>
            <xs:element form="qualified" name="foreignPart" type="xs:boolean"/>
            <xs:element form="qualified" name="registrCode" type="xs:string"/>
            <xs:element form="qualified" name="statSubCode" type="xs:string"/>
            <xs:element form="qualified" name="tin" type="xs:string"/>
            <xs:element form="qualified" name="region" type="xs:string"/>
            <xs:element form="qualified" name="district" type="xs:string"/>
            <xs:element form="qualified" name="city" type="xs:string"/>
            <xs:element form="qualified" name="village" type="xs:string"/>
            <xs:element form="qualified" name="microdistrict" type="xs:string"/>
            <xs:element form="qualified" name="street" type="xs:string"/>
            <xs:element form="qualified" name="house" type="xs:string"/>
            <xs:element form="qualified" name="room" type="xs:string"/>
            <xs:element form="qualified" name="phones" type="xs:string"/>
            <xs:element form="qualified" name="email1" type="xs:string"/>
            <xs:element form="qualified" name="email2" type="xs:string"/>
            <xs:element form="qualified" name="orderDate" type="xs:date"/>
            <xs:element form="qualified" name="firstOrderDate" type="xs:string"/>
            <xs:element form="qualified" name="category" type="xs:long"/>
            <xs:element form="qualified" name="ownership" type="xs:long"/>
            <xs:element form="qualified" name="chief" type="xs:string"/>
            <xs:element form="qualified" name="chiefTin" type="xs:string"/>
            <xs:element form="qualified" name="baseBus" type="xs:string"/>
            <xs:element form="qualified" name="baseBusCode" type="xs:string"/>
            <xs:element form="qualified" name="indFounders" type="xs:integer"/>
            <xs:element form="qualified" name="jurFounders" type="xs:integer"/>
            <xs:element form="qualified" name="totalFounders" type="xs:integer"/>
            <xs:element form="qualified" name="description" type="xs:string"/>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="founders" type="Founder"/>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Founder">
        <xs:sequence>
            <xs:element form="qualified" name="fullName" type="xs:string"/>
            <xs:element form="qualified" name="citizenship" type="xs:string"/>
            <xs:element form="qualified" name="tin" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getSubjectByQueryRequest" type="getSubjectByQueryRequest"/>
    <xs:element name="getSubjectByQueryResponse" type="getSubjectByQueryResponse"/>

    <xs:complexType name="getSubjectByQueryRequest">
        <xs:sequence>
            <xs:element form="qualified" name="query" type="NonEmptyString"/>
            <xs:element form="qualified" name="type" type="QueryType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getSubjectByQueryResponse">
        <xs:sequence>
            <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="subject" type="Subject"/>
        </xs:sequence>
    </xs:complexType>


    <xs:element name="getSubjectByNameRequest" type="getSubjectByNameRequest"/>
    <xs:element name="getSubjectByNameResponse" type="getSubjectByNameResponse"/>

    <xs:complexType name="getSubjectByNameRequest">
        <xs:sequence>
            <xs:element form="qualified" name="name" type="NonEmptyString"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getSubjectByNameResponse">
        <xs:sequence>
            <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="subject" type="Subject"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getSubjectByTinRequest" type="getSubjectByTinRequest"/>
    <xs:element name="getSubjectByTinResponse" type="getSubjectByTinResponse"/>

    <xs:complexType name="getSubjectByTinRequest">
        <xs:sequence>
            <xs:element form="qualified" name="tin" type="TaxIdentificationNumber"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getSubjectByTinResponse">
        <xs:sequence>
            <xs:element name="subject" type="Subject"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value=".*[^\s].*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TaxIdentificationNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{14}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getSubjectByNameRequest">
    <wsdl:part element="tns:getSubjectByNameRequest" name="getSubjectByNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubjectByTinRequest">
    <wsdl:part element="tns:getSubjectByTinRequest" name="getSubjectByTinRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubjectByQueryRequest">
    <wsdl:part element="tns:getSubjectByQueryRequest" name="getSubjectByQueryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubjectByNameResponse">
    <wsdl:part element="tns:getSubjectByNameResponse" name="getSubjectByNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="xrdheader">
    <wsdl:part element="xrd:client" name="client">
    </wsdl:part>
    <wsdl:part element="xrd:service" name="service">
    </wsdl:part>
    <wsdl:part element="xrd:userId" name="userId">
    </wsdl:part>
    <wsdl:part element="xrd:id" name="id">
    </wsdl:part>
    <wsdl:part element="xrd:protocolVersion" name="protocolVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubjectByQueryResponse">
    <wsdl:part element="tns:getSubjectByQueryResponse" name="getSubjectByQueryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubjectByTinResponse">
    <wsdl:part element="tns:getSubjectByTinResponse" name="getSubjectByTinResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SubjectPort">
    <wsdl:operation name="getSubjectByName">
      <wsdl:input message="tns:getSubjectByNameRequest" name="getSubjectByNameRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSubjectByNameResponse" name="getSubjectByNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubjectByTin">
      <wsdl:input message="tns:getSubjectByTinRequest" name="getSubjectByTinRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSubjectByTinResponse" name="getSubjectByTinResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubjectByQuery">
      <wsdl:input message="tns:getSubjectByQueryRequest" name="getSubjectByQueryRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSubjectByQueryResponse" name="getSubjectByQueryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubjectPortSoap11" type="tns:SubjectPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSubjectByName">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSubjectByNameRequest">
        <soap:body use="literal"/>
        <soap:header message="tns:xrdheader" part="client" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="protocolVersion" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output name="getSubjectByNameResponse">
        <soap:body use="literal"/>
        <soap:header message="tns:xrdheader" part="client" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="protocolVersion" use="literal">
        </soap:header>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubjectByTin">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSubjectByTinRequest">
        <soap:body use="literal"/>
        <soap:header message="tns:xrdheader" part="client" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="protocolVersion" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output name="getSubjectByTinResponse">
        <soap:body use="literal"/>
        <soap:header message="tns:xrdheader" part="client" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="protocolVersion" use="literal">
        </soap:header>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubjectByQuery">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSubjectByQueryRequest">
        <soap:body use="literal"/>
        <soap:header message="tns:xrdheader" part="client" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="protocolVersion" use="literal">
        </soap:header>
      </wsdl:input>
      <wsdl:output name="getSubjectByQueryResponse">
        <soap:body use="literal"/>
        <soap:header message="tns:xrdheader" part="client" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="service" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="userId" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xrdheader" part="protocolVersion" use="literal">
        </soap:header>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubjectPortService">
    <wsdl:port binding="tns:SubjectPortSoap11" name="SubjectPortSoap11">
      <soap:address location="http://195.38.162.150:8080"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>